
/*
*/

/* ベース
------------------------------------*/
@import "foundation/variables";
@import "foundation/ress";
@import "foundation/responsive";
@import "foundation/basic";
@import "foundation/typography";
@import "foundation/layer";
@import "foundation/mixins";


/* 共通パーツ
------------------------------------*/
@import "external/rangeslider";

/* 共通パーツ
------------------------------------*/
@import "components/content-column";
@import "components/grid";
@import "components/button";


/* ユーティリティー
------------------------------------*/
@import "utility/margins";
@import "utility/text";
@import "utility/visiblity";
@import "utility/full-width";




.p-site-logo{
  text-align: center;
  .e-img{
    vertical-align: middle;
    height: 50px;
    margin-right: 10px;
  }

  .e-title{
    display: inline-block;
    white-space: nowrap;
    font-weight: bold;
    vertical-align: middle;
  }
}

h2{
  color:  $color-atrio-orange;

}


.p-description{
  background: #faede2;
  padding: 20px 30px;
  margin-bottom: 40px;
}


.c-choices-table{
  border-collapse: collapse;;
  padding: 20px 20px 30px;

  &:nth-child(2n){
    background: #fafafa;

  }

  >.e-question{

    margin-bottom: 10px;

    font-weight: bold;
  }

  >.e-answers{
    display: flex;
    justify-content: space-between;

    list-style: none;

    >.e-answer{

    }
  }
}

.c-answer-button{
  .e-radio{
    display: none;
    &:checked+.e-number{
      @extend .is-active;

    }
  }

  .e-number{
    display: inline-flex;
      justify-content: center;
      align-items: center;

    width: 45px;
    height: 45px;

    border-radius: 50%;
    background: #eee;

    box-shadow: 1px 1px 1px rgba(#000, .5);

    transition: background-color .3s, box-shadow .5s;

    &.is-active{
      //border: 4px solid ;
      background: $color-atrio-orange;
      color: #fff;
      //font-size: 1.4em;
      font-weight: bold;
      box-shadow: 3px 3px 5px rgba(#000, .4);
    }

    @include sp-up{
      width: 55px;
      height: 55px;
    }

  }

}


.c-result-bar{
  margin-bottom: 30px;

  .e-title{
    text-align: center;
    font-weight: bold;
  }
  .e-graph{
    display: flex;
    align-items: center;
    

    .e-left,
    .e-right{
      flex: 0 0 4em;
      white-space: nowrap;

    }
    .e-right{
      text-align: right;
    }


    .e-bar{
      $height:   40px;
      $size: 30px;// 丸のサイズ

      flex: 1 1 auto;
      position: relative;

      
      background: #eee;
      height:  $height;
      

      .e-line{
        position: absolute;
          top: 50%;
        width: 100%;
        border-bottom: 1px solid #666;

      }
      .e-memoris{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -1px;

        .e-memori{
          height: $height /2;
          border-left: 2px solid #666;

          &:first-of-type,
          &:last-of-type{
            height: $height ;

          }
        }

      }
      .e-point{


        position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;

        margin-top:auto;
        margin-bottom: auto;
        margin-left: -$size/2;

        width: $size;
        height: $size;
        border-radius: 50%;
        border: 3px solid $color-atrio-orange;

        background: rgba(#fff, .8);
      }
    }
  }
}


.c-input-text{
  border: 1px solid #eee;
  font-size:1.6rem;
}

.c-input-number{
  border: 0;
  border-bottom: 1px solid #ccc;
  text-align: right;
  width: 80px;
  font-size:1.6rem;
}

.c-input-range{
  -webkit-appearance: none; // 🚩これ無しだとスタイルがほぼ全く反映されないので注意
  appearance: none;
  cursor: pointer; // カーソルを分かりやすく
  outline: none; // スライダーのアウトラインは目障りになるので消す
  background: lighten($color-atrio-orange, 30%); // バーの背景色
  height: 14px; // バーの高さ
  width: 100%; // スライダーの幅
  border-radius: 10px; // バーの端の丸み
  border: solid 3px lighten($color-atrio-orange, 40%); // バーまわりの線
  // -webkit-向けのつまみ
  &::-webkit-slider-thumb {
    -webkit-appearance: none; // 🚩デフォルトのつまみのスタイルを解除
    background: $color-atrio-orange; // 背景色
    width: 40px; // 幅
    height: 40px; // 高さ
    border-radius: 50%; // 円形に
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); // 影
  }
  // -moz-向けのつまみ
  &::-moz-range-thumb {
    background: $color-atrio-orange; // 背景色
    width: 40px; // 幅
    height: 40px; // 高さ
    border-radius: 50%; // 円形に
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); // 影
    border: none; // デフォルトの線を消す
  }
  // Firefoxで点線が周りに表示されてしまう問題の解消
  &::-moz-focus-outer {
    border: 0;
  }
  // つまみをドラッグしているときのスタイル
  &:active::-webkit-slider-thumb {
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
  }
}


.c-manzoku-input{
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 60px;

  >.e-title{
    flex: 1 0  50%;

    font-weight: bold;

  }
  >.e-text{
    flex: 0 0 20%;
    white-space: nowrap;
  }
  >.e-range{
    flex: 1 1 100%;

    padding: 10px 20px 0px;

  }
}


.p-radar-chart{

  align-items: center;
  align-content: center;

  @include sp{
    margin-bottom: 30px;
  }
  .p-radar-chart__wrapper{
    overflow-x: auto;

  }
}


.p-result-insight{
  border: 1px solid #ccc;
  padding: 20px;

  font-size: 1.4rem;

  @include mq('print'){
    margin-bottom: 0px;
  }


}

.p-info-table{
  width: 100%;

  @include mq('print'){
    display: none;
  }

  th{
    text-align: left;
    line-height: 1.2;
    padding: 10px 0;

    small{
      color: #888;
      
      white-space: nowrap;

    }
  }
  td{
    input{
      display: block;
      width: 100%;


    }

  }

}

.p-result-links{
  @include mq('print'){
    display: none;
  }
}
